<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boda Frida & Isra</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <!-- Local css -->
    <link rel="stylesheet" href="../static/styles/index.css" />
    <script src="{{ url_for('static', filename='logic/index.js') }}"></script>

    <script
      src="https://kit.fontawesome.com/bbd366d908.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="main">
      <!-- Section hero -->
      <section class="hero-section">
        <div class="hero-text-container">
          <h2>Nuestra boda</h2>
          <h1>FRIDA & ISRAEL</h1>
          <div class="hero-text-description-container">
            <p>Te invitamos a compartir la alegría de unir nuestras vidas</p>
          </div>
        </div>
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade carousel-container"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="1">
              <img
                src="../static/images/horizontal/photo_4.jpg"
                class="d-block w-100 img-fluid carousel-img"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../static/images/horizontal/photo_3.jpg"
                class="d-block w-100 img-fluid carousel-img"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../static/images/horizontal/photo_1.jpg"
                class="d-block w-100 img-fluid carousel-img"
              />
            </div>
          </div>
          <!-- <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
      </section>
      <!-- Sobre nosotros 2 -->
      <!-- <section class="section about-us-section2">
        <div class="container">
          <div class="about-us-section-container2">
            <div class="about-us-section-col">
              <div class="about-us-text-container2">
                <h2>¡Nos casamos!</h2>
                <p>
                  Una propuesta, un Sí y una decisión que tomamos juntos.
                  Nuestro amor ha crecido en nosotros, ha madurado y florecido,
                  a veces sencillo, otras caótico pero siempre maravilloso. Así
                  comienza una nueva etapa en nuestras vidas. Somos aventureros,
                  dedicados, fuertes de carácter;Una propuesta, un Sí y una
                  decisión que tomamos juntos. Nuestro amor ha crecido en
                  nosotros, ha madurado y florecido, a veces sencillo, otras
                  caótico pero siempre maravilloso. Así comienza una nueva etapa
                  en nuestras vidas. Somos aventureros, dedicados, fuertes de
                  carácter;
                </p>
              </div>
              <img
                src="../static/images/vertical/photo_17.jpg"
                class="about-us-img2"
              />
            </div>
            <div class="about-us-section-col">
              <img
                src="../static/images/vertical/photo_19.jpg"
                class="about-us-img2"
              />
              <div class="about-us-text-container2">
              
                <p>
                  Una propuesta, un Sí y una decisión que tomamos juntos.
                  Nuestro amor ha crecido en nosotros, ha madurado y florecido,
                  a veces sencillo, otras caótico pero siempre maravilloso. Así
                  comienza una nueva etapa en nuestras vidas. Somos aventureros,
                  dedicados, fuertes de carácter; Una propuesta, un Sí y una
                  decisión que tomamos juntos. Nuestro amor ha crecido en
                  nosotros, ha madurado y florecido, a veces sencillo, otras
                  caótico pero siempre maravilloso. Así comienza una nueva etapa
                  en nuestras vidas. Somos aventureros, dedicados, fuertes de
                  carácter;
                </p>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Sobre nosotros -->
      <section class="section about-us-section">
        <div class="container about-us-section-container">
          <img
            src="../static/images/vertical/photo_19.jpg"
            class="about-us-img"
          />
          <div class="about-us-text-container">
            <div>
              <h2>¡Nos casamos!</h2>
              <p>
                Una propuesta, un Sí y una decisión que tomamos juntos. Nuestro
                amor ha crecido en nosotros, ha madurado y florecido, a veces
                sencillo, otras caótico pero siempre maravilloso. Así comienza
                una nueva etapa en nuestras vidas. Somos aventureros, dedicados,
                fuertes de carácter; los desafíos que hemos enfrentado nos han
                ayudado a crecer y madurar; debemos agradecer a esos retos
                porque con ellos nos hemos dado cuenta que juntos podemos lograr
                lo que nos proponemos. Tan sólo podemos decir que nuestra vida
                en estos momentos se encuentra completa y estamos listos para
                compartir el resto de nuestros días juntos.
              </p>
            </div>
            <img src="../static/images/horizontal/photo_8.jpg" />
          </div>
        </div>
      </section>
      <!-- Confirmar asistencia -->
      <section class="section section-confirm-assistance">
        <div class="container">
          <div class="title-container">
            <h2 class="title--text">Confirmación</h2>
            <h2 class="subtitle--text">
              Nos ayudarías mucho que confirmes tu asistencia
            </h2>
            <div class="c-a-select-confirmation-container">
              <p>NO ASISTIRE</p>
              <input
                type="checkbox"
                checked
                class="c-a-checkbox"
                style="--s: 30px"
              />
              <p>ASISTIRÉ</p>
            </div>
            <div class="c-a-tickets-container">
              <p>Hemos considerado darte <span>4 boletos</span></p>
              <div>
                <label for="nTickets"> Voy a ocupar </label>
                <input
                  id="nTickets"
                  type="number"
                  value="4"
                  min="1"
                  max="4"
                  step="1"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Contador -->
      <section class="section countdown">
        <div class="container">
          <div class="title-container">
            <h2 class="title--text">Te esperamos en nuestra boda</h2>
            <h2>21 de abril 2023</h2>
          </div>
          <div class="countdown-clock--container">
            <div class="countdown-clock--item">
              <h2 id="days" class="countdown-clock--item--date">00</h2>
              <p>Días</p>
            </div>
            <div class="countdown-clock--item">
              <h2 id="hours" class="countdown-clock--item--date">00</h2>
              <p>Horas</p>
            </div>
            <div class="countdown-clock--item">
              <h2 id="minutes" class="countdown-clock--item--date">00</h2>
              <p>Minutos</p>
            </div>
            <div class="countdown-clock--item">
              <h2 id="seconds" class="countdown-clock--item--date">00</h2>
              <p>Segundos</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Galeria lineal vertical -->
      <section class="gallery-section">
        <img src="../static/images/vertical/photo_12.jpg" class="gallery-img" />
        <img src="../static/images/vertical/photo_13.jpg" class="gallery-img" />
        <img src="../static/images/vertical/photo_19.jpg" class="gallery-img" />
        <img src="../static/images/vertical/photo_14.jpg" class="gallery-img" />
        <img src="../static/images/vertical/photo_15.jpg" class="gallery-img" />
        <img src="../static/images/vertical/photo_16.jpg" class="gallery-img" />
      </section>

      <!-- Ubicacion -->
      <section class="section location-section">
        <div class="container">
          <div class="title-container">
            <h2 class="title--text">Ubicación</h2>
            <h2 class="subtitle--text">
              La ceremonia religiosa y festejo serán celebrados en el mismo
              lugar.
            </h2>
          </div>
          <div class="location-info-container">
            <img
              src="../static/images/lugar.jpg"
              class="location-img"
              alt="ubicacion"
            />
            <div class="location-info">
              <div class="location-info--name-time">
                <p class="location-info--title">JARDIN QUINTA CORREGIDOR</p>
                <p>DOMINGO 21 de JUNIO</p>
                <p>03:00 PM - 11:00 PM</p>
              </div>
              <div class="location-info--address">
                <p class="location-info--title">DIRECCIÓN</p>
                <p>
                  Diag. Reforma 3 B, Izcalli del Bosque, 53278 Naucalpan de
                  Juárez, Méx.
                </p>
              </div>
              <button
                class="location-map-button"
                onclick=" window.open('http://goo.gl/maps/WbekMxVqSfBBnx2j9','_blank')"
              >
                <p>Abrir en mapa</p>
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Galeria completa -->
      <!--   
      <section class="section complete-gallery-section">
        <div class="container">
          <div class="title-container">
            <h2 class="title--text">Nuestros momentos</h2>
            <h2 class="subtitle--text">Compartimos con ustedes nuestro amor</h2>
          </div>
          <div style="display: flex; justify-content: center">
            <div class="complete-gallery-image-container">
              <div class="complete-gallery-image-container--item">
                <img
                  src="../static/images/horizontal/photo_4.jpg"
                  class="complete-gallery-image-container--img"
                  alt="photo"
                />
              </div>
              <div class="complete-gallery-image-container--item">
                <img
                  src="../static/images/horizontal/photo_5.jpg"
                  class="complete-gallery-image-container--img"
                  alt="photo"
                />
              </div>
              <div class="complete-gallery-image-container--item">
                <img
                  src="../static/images/vertical/photo_18.jpg"
                  class="complete-gallery-image-container--img"
                  alt="photo"
                />
              </div>
              <div class="complete-gallery-image-container--item">
                <img
                  src="../static/images/vertical/photo_14.jpg"
                  class="complete-gallery-image-container--img"
                  alt="photo"
                />
              </div>
              <div class="complete-gallery-image-container--item">
                <img
                  src="../static/images/horizontal/photo_8.jpg"
                  class="complete-gallery-image-container--img"
                  alt="photo"
                />
              </div>
              <div class="complete-gallery-image-container--item">
                <img
                  src="../static/images/horizontal/photo_9.jpg"
                  class="complete-gallery-image-container--img"
                  alt="photo"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
     -->
      <!-- Mesa de regalos -->
      <section class="section mesa-de-regalos">
        <div class="container">
          <div class="title-container" style="padding-bottom: 0">
            <h2 class="title--text">Mesa de regalos</h2>
            <p class="subtitle--text">
              Tu presencia es nuestro mayor regalo, pero si deseas obsequiarnos
              algo te adjuntamos algunas opciones:
            </p>
          </div>
          <div class="mesa-de-regalos--opciones">
            <a
              class="mesa-de-regalos-item amazon"
              href="http://www.amazon.com"
              target="_blank"
            >
              <div class="mesa-de-regalos-item--img-container">
                <img
                  src="../static/images/amazon_logo.png"
                  class="mesa-de-regalos-item--img"
                  alt="amazon"
                />
                <p style="font-size: 4rem">243211</p>
              </div>
            </a>
            <a
              class="mesa-de-regalos-item liverpool"
              href="http://www.liverpool.com.mx/"
              target="_blank"
            >
              <div class="mesa-de-regalos-item--img-container">
                <img
                  src="../static/images/liverpool_logo.png"
                  class="mesa-de-regalos-item--img"
                  alt="liverpool"
                />
                <p style="font-size: 4rem">243211</p>
              </div>
            </a>
            <a
              class="mesa-de-regalos-item banorte"
              href="http://www.banorte.com/"
              target="_blank"
            >
              <div class="mesa-de-regalos-item--img-container">
                <img
                  src="../static/images/banorte_logo.png"
                  class="mesa-de-regalos-item--img"
                  alt="banorte"
                />
                <p style="font-size: 4rem">243211</p>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- Galeria lineal horizontal -->
      <section class="gallery-section">
        <img
          src="../static/images/horizontal/photo_6.jpg"
          class="gallery-img--horizontal"
        />
        <img
          src="../static/images/horizontal/photo_4.jpg"
          class="gallery-img--horizontal"
        />
        <img
          src="../static/images/horizontal/photo_7.jpg"
          class="gallery-img--horizontal"
        />
        <img
          src="../static/images/horizontal/photo_8.jpg"
          class="gallery-img--horizontal"
        />
      </section>
      <!-- Codigo de vestimenta -->
      <section class="section codigo-de-vestimenta">
        <div class="container">
          <div class="title-container">
            <h2 class="title--text">Código de vestimenta</h2>
            <p class="subtitle--text">Etiqueta</p>
          </div>
          <div class="vestimenta-container">
            <div class="vestimenta--item">
              <p class="vestimenta-img--title">Hombres</p>
              <img
                src="../static/images/codigo_hombre.png"
                class="vestimenta-img"
                alt="codigo hombre"
              />
              <p class="vestimenta-img--subtitle">Traje</p>
            </div>
            <div class="vestimenta--item">
              <p class="vestimenta-img--title">Mujeres</p>
              <img
                src="../static/images/codigo_mujer.png"
                class="vestimenta-img"
                alt="codigo mujer"
              />
              <p class="vestimenta-img--subtitle">Vestido largo</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Frase -->
      <section class="section-phrase">
        <div class="container">
          <i class="fa-solid fa-quote-left phrase-quote-icon"></i>
          <h2 class="phrase-text">
            El amor es lo más parecido a una guerra, y es la única guerra en que
            es indiferente vencer o ser vencido, porque siempre se gana.
          </h2>
        </div>
      </section>
      <!-- Hashtag -->
      <!-- <section class="section hashtag-section">
        <div class="container">
          <h2 class="hashtag-title">
            En nuestra boda comparte tus fotos con nosotros, utiliza el hashtag
          </h2>
          <p class="hashtag-hashtag">#FRIDA_ISRA</p>
        </div>
      </section> -->
      <!-- Sobre nosotros -->
      <section>
        <div>
          <div></div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
