/* rem and em do NOT depend on html font-size in media queries!! 
Instead, 1 rem = 1em = 16px*/

/*****************************/
/* BELOW 84*16 = 1344px (Smaller desktops) */
/*****************************/
@media (max-width: 84em) {
  .thanks-text-container {
    margin-bottom: -6rem;
  }
}

/*****************************/
/* BELOW 81.25*16 = 1300px (Smaller desktops) */
/*****************************/
@media (max-width: 81.25em) {
  .about-us-img3 {
    width: 35rem;
  }
  .about-us3-flex--item .about-us-text-container2--isra {
    top: 10px;
    left: -210px;
  }
  .about-us3-flex--item .about-us-text-container2--frida {
    top: 30px;
    right: -210px;
  }
}

/*****************************/
/* BELOW 75*16 = 1200px (Landscape Tablets) */
/*****************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .location-img {
    width: 50%;
  }
  .vestimenta-img {
    height: 30rem;
  }
  .phrase-quote-icon {
    font-size: 5rem;
  }
  .thanks-text-container {
    margin-bottom: 0rem;
  }
}

/*****************************/
/* BELOW 68.75*16 = 1100px (Portrait Tablets) */
/*****************************/
@media (max-width: 68.75em) {
  .about-us-img3 {
    width: 30rem;
  }
  .about-us-text-container2 {
    width: 20rem;
    padding: 2rem;
  }
  .about-us3-flex--item .about-us-text-container2--isra {
    top: 50px;
    left: -160px;
  }
  .about-us3-flex--item .about-us-text-container2--frida {
    top: 62.5px;
    right: -160px;
  }
  .about-us-text-container2 h2 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Frunchy", serif;
    letter-spacing: 4px;
  }
  .about-us-text-container2 p {
    font-size: 1.4rem;
    line-height: 1.8em;
  }
}

/*****************************/
/* BELOW 62.5*16 = 1000px (Portrait Tablets) */
/*****************************/
@media (max-width: 62.5em) {
  .about-us-section-container {
    gap: 4rem;
  }
  .about-us-text-container img {
    height: 23rem;
  }
  .mesa-de-regalos--opciones {
    gap: 0rem;
  }
  .mesa-de-regalos-item--img {
    width: 25rem;
  }
}

/*****************************/
/* BELOW 59*16 = 944px (Portrait Tablets) */
/*****************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .about-us3-flex--item .about-us-text-container2--isra {
    top: 45px;
    left: -150px;
  }
  .about-us3-flex--item .about-us-text-container2--frida {
    top: 55px;
    right: -150px;
  }
}

/*****************************/
/* BELOW 53.125*16 = 850px (Portrait Tablets) mike */
/*****************************/
@media (max-width: 53.125em) {
  .about-us-img3 {
    width: 28rem;
  }
  .about-us3-flex--item .about-us-text-container2--isra {
    top: 32.5px;
    left: -140px;
  }
  .about-us3-flex--item .about-us-text-container2--frida {
    top: 42.5px;
    right: -140px;
  }
  .phrase-text {
    font-size: 2.3rem;
  }
}

/*****************************/
/* BELOW 50*16 = 800px (Portrait Tablets) */
/*****************************/
@media (max-width: 50em) {
  .location-item {
    width: 40rem;
  }
  .location-item i {
    font-size: 5rem;
  }
  .location-date,
  .location-hour,
  .location-name,
  .location-address {
    font-size: 1.8rem;
  }
  .mesa-de-regalos--opciones {
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
  }
  .banorte {
    margin-top: 2rem;
  }
  .section {
    padding: 2.4rem 0 4.8rem 0;
  }
  .about-us-small-section {
    padding: 9.6rem 0 12rem 0;
  }
  .section-phrase div {
    width: 80%;
  }
}

/*****************************/
/* BELOW 47.1875*16 = 755px (Smaller Tablets) */
/*****************************/
@media (max-width: 47.1875em) {
  .about-us-text-container2 {
    width: 17rem;
  }
  .about-us3-flex--item .about-us-text-container2--isra {
    top: 12.5px;
    left: -120px;
  }
  .about-us3-flex--item .about-us-text-container2--frida {
    top: 22.5px;
    right: -120px;
  }
}

/*****************************/
/* BELOW 44*16 = 704px (Smaller Tablets) */
/*****************************/
@media (max-width: 44em) {
  .about-us-section-container {
    flex-direction: column;
    gap: 0;
  }
  .about-us-img {
    width: 90%;
    height: 0%rem;
    object-fit: cover;
  }
  .about-us-text-container {
    padding: 4rem;
    background-color: aliceblue;
    gap: 2rem;
  }
  .about-us-img2 {
    height: 65rem;
    object-fit: cover;
  }
  .about-us-img2--isra {
    object-position: 0% 25%;
  }
  .about-us-img2--frida {
    object-position: 0% 20%;
  }
  .location-info-container2 {
    flex-direction: column;
  }
  .location-map-iframe2 {
    width: 400px;
  }
  .location-item {
    width: 50rem;
  }
  .mesa-de-regalos-item {
    height: unset;
  }
  .mesa-de-regalos-item--img-container {
    justify-content: center;
    gap: 3rem;
    height: unset;
  }
  .vestimenta-container {
    gap: 12rem;
  }
  .vestimenta--item {
    padding: 0rem;
  }
  .complete-gallery-image-container--item {
    width: 30rem;
    height: 30rem;
  }
}

/*****************************/
/* BELOW 36.375*16 = 582px (Big Phones) */
/*****************************/
@media (max-width: 36.375em) {
  .about-us-small-container {
    gap: 14rem;
  }
  .about-us-small--item .about-us-small-text-container {
    padding: 2rem 2rem 3rem 2rem;
    bottom: -10rem;
  }
  .about-us-small-section {
    padding: 4.8rem 0 16rem 0;
  }
  .about-us-img2 {
    height: 60rem;
  }
  .about-us-img2--isra {
    object-position: 0% 30%;
  }
  .about-us-img2--frida {
    object-position: 0% 20%;
  }
  .countdown-clock--item {
    width: 10rem;
    height: 10rem;
  }
  .mesa-de-regalos-item {
    padding: 2rem 2rem;
  }
  .phrase-text {
    font-size: 2.2rem;
  }
  .countdown-section .title--text {
    font-size: 3rem;
  }
  .thanks-text-container {
    margin-bottom: 5rem;
  }
}

/*****************************/
/* BELOW 32.55*16 = 520px (Big Phones) */
/*****************************/
@media (max-width: 32.5em) {
  .about-us-small-section {
    padding-top: 4.8rem;
  }
  .about-us-small-container {
    gap: 15rem;
  }
  .about-us-small--item .about-us-small-text-container {
    bottom: -12rem;
  }
  .complete-gallery-image-container--item {
    width: 23rem;
    height: 23rem;
  }
  .mesa-de-regalos--opciones {
    gap: 0rem;
  }
  .mesa-de-regalos--opciones {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    gap: 2rem;
  }
  .mesa-de-regalos-item--img-container {
    gap: 1rem;
  }
  .amazon {
    grid-column: 1;
  }
  .amazon .mesa-de-regalos-item--img-container {
    gap: 2rem;
  }
}

/*****************************/
/* BELOW 30*16 = 480px (Phones) */
/*****************************/
@media (max-width: 30em) {
  .about-us-small-container {
    gap: 18rem;
  }
  .about-us-small--item .about-us-small-text-container {
    bottom: -14rem;
  }
  .countdown-clock--item {
    width: 8.5rem;
    height: 8.5rem;
  }
  .location-section2 .container {
    padding: 4.8rem 3.2rem;
  }
  .location-map-iframe2 {
    width: 100%;
    height: 200px;
  }
  .location-item {
    width: 100%;
  }
  .thanks-text-container p {
    font-size: 2rem;
  }
}

/*****************************/
/* BELOW 25.875*16 = 414px (Phones) */
/*****************************/
@media (max-width: 25.875em) {
  .about-us-small-section {
    padding: 4.8rem 0 22rem 0;
  }
  .about-us-small-container {
    gap: 21rem;
  }
  .about-us-small--item .about-us-small-text-container {
    bottom: -18rem;
  }
  .about-us-img2 {
    height: 50rem;
  }
  .about-us-img2--isra {
    object-position: 0% 40%;
  }
  .about-us-img2--frida {
    object-position: 0% 30%;
  }
  .phrase-text {
    font-size: 2rem;
  }
  .complete-gallery-image-container--item {
    width: 20rem;
    height: 20rem;
  }
  .vestimenta-container {
    justify-content: space-around;
    gap: 0;
  }
  .thanks-text-container p {
    font-size: 1.8rem;
  }
}

/*****************************/
/* BELOW 23.125*16 = 370px (Phones) */
/*****************************/
@media (max-width: 23.125em) {
  .countdown-clock--item {
    width: 8rem;
    height: 8rem;
  }
  .complete-gallery-image-container--item {
    width: 16rem;
    height: 16rem;
  }
  .phrase-text {
    font-size: 1.8rem;
  }
}
